<!DOCTYPE html>
<html>

{%extends "layout.html"%}
{% block content %}
<div class="home">
     <h1>Home Page</h1>
    <form action="/output" method="POST" enctype="multipart/form-data">
	    <label for="newkey">Select the file for the piece (in XML or MIDI format) you want to transpose!</label>
	    
	    <input type="file" id="myfile" name="myfile" value={{request.form.file}}>

	    <br><label for="newkey">Choose the new key:</label>
		
			<br><a href="/output"><input type='radio' id='cMam' name='newkey' value='cMam'></a>
			<label for='cMam'>C Major or A minor</label><br>
			<a href="/output"><input type='radio' id='c#Mb-m' name='newkey' value='c#Mb-m'></a>
			<label for='c#Mb-m'>C sharp Major or B flat Minor</label><br>
			<a href="/output"><input type='radio' id='dMbm' name='newkey' value='dMbm'></a>
			<label for='dMbm'>D Major or B Minor</label><br>
			<a href="/output"><input type='radio' id='e-Mcm' name='newkey' value='e-Mcm'></a>
			<label for='e-Mcm'>E flat Major or C Minor</label><br>
			<a href="/output"><input type='radio' id='eMc#m' name='newkey' value='eMc#m'></a>
			<label for='eMc#m'>E Major or C sharp Minor</label><br>
			<a href="/output"><input type='radio' id='fMdm' name='newkey' value='fMdm'></a>
			<label for='cMam'>F Major or D Minor</label><br>
			<a href="/output"><input type='radio' id='f#Me-m' name='newkey' value='f#Me-m'></a>
			<label for='f#Me-m'>F sharp Major or E flat Minor</label><br>
			<a href="/output"><input type='radio' id='gMem' name='newkey' value='gMem'></a>
			<label for='gMem'>G Major or E Minor</label><br>
			<a href="/output"><input type='radio' id='a-Mfm' name='newkey' value='a-Mfm'></a>
			<label for='a-Mfm'>A flat Major or F Minor</label><br>
			<a href="/output"><input type='radio' id='aMf#m' name='newkey' value='aMf#m'></a>
			<label for='aMf#m'>A Major or F sharp Minor</label><br>
			<a href="/output"><input type='radio' id='b-Mgm' name='newkey' value='b-Mgm'></a>
			<label for='b-Mgm'>B flat Major or G Minor</label><br>
			<a href="/output"><input type='radio' id='bMa-m' name='newkey' value='bMa-m'></a>
			<label for='bMa-m'>B Major or A flat Minor</label><br>
			<a href="/output"><input type='submit' value='Done'></a>
	</form>
	<p>Note: It may take a while to load the output...</p>
	

</div>
{%endblock%}
</html>